[user]
	email = contato.rubenscsantos@gmail.com
	name = Rubens Santos
[core]
	excludesfile = /home/rubens/.gitignore_global
[alias]
	gg = log --all --graph --decorate --oneline
  	current = rev-parse --abbrev-ref HEAD
  	pushersson = !git push origin $(git current)
